// ================Footer Area =================
footer.footer_area.p_120
    .container
        .row.footer_inner
        .col-lg-10.col-sm-8
            aside.f_widget.news_widget
            .f_title
                h3 About Us
            p
                | Addres: Limesstrasse 12, 4060 Leonding
                br
                | Email: me@example.com
            p
                | Copyright ©WebWatch 
                script document.write(new Date().getFullYear() + " ");
                | All rights reserved | This template is made with 
                i.fa.fa-heart-o(aria-hidden='true')
                |  by 
                a(href='https://colorlib.com' target='_blank') Colorlib
//script(src='js/jquery-3.2.1.min.js')
//script(src='js/popper.js')
script(src='js/bootstrap.min.js')
//script(src='js/stellar.js')
//script(src='vendors/lightbox/simpleLightbox.min.js')
//script(src='vendors/nice-select/js/jquery.nice-select.min.js')
//script(src='vendors/isotope/imagesloaded.pkgd.min.js')
//script(src='vendors/isotope/isotope-min.js')
//script(src='vendors/owl-carousel/owl.carousel.min.js')
//script(src='js/jquery.ajaxchimp.min.js')
//script(src='js/mail-script.js')
//script(src='vendors/counter-up/jquery.waypoints.min.js')
//script(src='vendors/counter-up/jquery.counterup.min.js')
//script(src='js/theme.js')