// ================Header Menu Area =================
header.header_area
    .main_menu
        nav.navbar.navbar-expand-lg.navbar-light
            .container.box_1620
                h2.nav-header WebWatch
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                .collapse.navbar-collapse.offset#navbarSupportedContent
                    ul.nav.navbar-nav.menu_nav.justify-content-center
                        li.nav-item.active
                            a.nav-link(href='/') Home
                        li.nav-item
                            a.nav-link(href='/about-us') About
                        li.nav-item
                            a.nav-link(href='/show-websites') Show Websites
                        li.nav-item
                            a.nav-link(href='/save-website') Save Website
                        li.nav-item
                            a.nav-link(href='/contact') Contact
                        ul.nav.navbar-nav.navbar-right
                    a.tickets_btn(href='/sign-up') Sign Up
        // ================Header Menu Area =================