doctype html
html(lang='en')
  head
    include inc/header.pug
  body
    include inc/navbar.pug
    // ================Home Banner Area =================
    section.banner_area
      .banner_inner.d-flex.align-items-center
        .overlay.bg-parallax(data-stellar-ratio='0.9' data-stellar-vertical-offset='0' data-background)
        .container
          .banner_content.text-center
            h2 About Us
            .page_link
              a(href='/index') Home
              a(href='/about-us') About
    // ================End Home Banner Area =================
    // ================Made Life Area =================
    //- section.made_life_area.p_120
    //-   .container
    //-     .made_life_inner
    //-       ul.nav.nav-tabs#myTab(role='tablist')
    //-         li.nav-item
    //-           a.nav-link#home-tab(data-toggle='tab' href='#home' role='tab' aria-controls='home' aria-selected='true') Easy to use
    //-         li.nav-item
    //-           a.nav-link#profile-tab(data-toggle='tab' href='#profile' role='tab' aria-controls='profile' aria-selected='false') Unlimited Colors
    //-         li.nav-item
    //-           a.nav-link.active#contact-tab(data-toggle='tab' href='#contact' role='tab' aria-controls='contact' aria-selected='false') Unique Features
    //-         li.nav-item
    //-           a.nav-link#edge-tab(data-toggle='tab' href='#edge' role='tab' aria-controls='edge' aria-selected='false') Unique Features
    //-       .tab-content#myTabContent
    //-         .tab-pane.fade#home(role='tabpanel' aria-labelledby='home-tab')
    //-           .row.made_life_text
    //-             .col-lg-6
    //-               .left_side_text
    //-                 h3
    //-                   | We’ve made a life
    //-                   br
    //-                   | that will change you
    //-                 h6 We are here to listen from you deliver exellence
    //-                 p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
    //-                 a.main_btn(href='#') Get Started Now
    //-             .col-lg-6
    //-               .chart_img
    //-                 img.img-fluid(src='img/chart.jpg' alt)
    //-         .tab-pane.fade#profile(role='tabpanel' aria-labelledby='profile-tab')
    //-           .row.made_life_text
    //-             .col-lg-6
    //-               .left_side_text
    //-                 h3
    //-                   | We’ve made a life
    //-                   br
    //-                   | that will change you
    //-                 h6 We are here to listen from you deliver exellence
    //-                 p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
    //-                 a.main_btn(href='#') Get Started Now
    //-             .col-lg-6
    //-               .chart_img
    //-                 img.img-fluid(src='img/chart.jpg' alt)
    //-         .tab-pane.fade.show.active#contact(role='tabpanel' aria-labelledby='contact-tab')
    //-           .row.made_life_text
    //-             .col-lg-6
    //-               .left_side_text
    //-                 h3
    //-                   | We’ve made a life
    //-                   br
    //-                   | that will change you
    //-                 h6 We are here to listen from you deliver exellence
    //-                 p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
    //-                 a.main_btn(href='#') Get Started Now
    //-             .col-lg-6
    //-               .chart_img
    //-                 img.img-fluid(src='img/chart.jpg' alt)
    //-         .tab-pane.fade#edge(role='tabpanel' aria-labelledby='edge-tab')
    //-           .row.made_life_text
    //-             .col-lg-6
    //-               .left_side_text
    //-                 h3
    //-                   | We’ve made a life
    //-                   br
    //-                   | that will change you
    //-                 h6 We are here to listen from you deliver exellence
    //-                 p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
    //-                 a.main_btn(href='#') Get Started Now
    //-             .col-lg-6
    //-               .chart_img
    //-                 img.img-fluid(src='img/chart.jpg' alt)
    //- // ================End Made Life Area =================
    // ================Screen Area =================
    section.screen_area.text-center.p_120
      .container
        .main_title
          h2 Security is our Main Concern
          p We use the latest technologies to secure and verify your data. The Content of the Websites is verified by Third-Parties, so the it can't be changed.
        img.img-fluid(src='img/banner/home-left-1.png' alt)
    // ================End Screen Area =================
    // ================Made Life Area =================
    section.made_life_area.p_120
      .container
        .made_life_inner
          .row.made_life_text
            .col-lg-6
              .left_side_text
                h3
                  | We’ve made a life
                  br
                  | that will change you
                h6 We are here to listen from you deliver exellence
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                a.main_btn(href='#') Get Started Now
            .col-lg-6
              .chart_img
                img.img-fluid(src='img/browser.png' alt)
    // ================End Made Life Area =================
    // ================Impress Area =================
    section.impress_area.p_120
      .container
        .impress_inner
          h2 Got Impressed to our features?
          p If you want to store the contents of a website safely, you can count on us!.
          a.banner_btn2(href='/signup') Register
    // ================End Impress Area =================
    include inc/footer.pug
    //  Optional JavaScript 
    //  jQuery first, then Popper.js, then Bootstrap JS 
    script(src='js/jquery-3.2.1.min.js')
    script(src='js/popper.js')
    script(src='js/bootstrap.min.js')
    script(src='js/stellar.js')
    script(src='vendors/lightbox/simpleLightbox.min.js')
    script(src='vendors/nice-select/js/jquery.nice-select.min.js')
    script(src='vendors/isotope/imagesloaded.pkgd.min.js')
    script(src='vendors/isotope/isotope-min.js')
    script(src='vendors/owl-carousel/owl.carousel.min.js')
    script(src='js/jquery.ajaxchimp.min.js')
    script(src='js/mail-script.js')
    script(src='vendors/counter-up/jquery.waypoints.min.js')
    script(src='vendors/counter-up/jquery.counterup.min.js')
    script(src='js/theme.js')
