doctype html
html(lang='en')
  head
    include inc/header.pug
  body
    include inc/navbar.pug
    // ================Home Banner Area =================
    section.banner_area
      .banner_inner.d-flex.align-items-center
        .overlay.bg-parallax(data-stellar-ratio='0.9' data-stellar-vertical-offset='0' data-background)
        .container
          .banner_content.text-center
            h2 Contact Us
            .page_link
              a(href='/index') Home
              a(href='/contact') Contact
    // ================End Home Banner Area =================
    // ================Contact Area =================
    section.contact_area.p_120
      .container
        #mapBox.mapBox(data-lat='48.27965' data-lon='14.2533' data-zoom='13' data-info='Leonding, Austria').
          
          
        .row
          .col-lg-3
            .contact_info
              .info_item
                i.lnr.lnr-home
                h6 Upper Austria, Austria
                p Leonding
              .info_item
                i.lnr.lnr-envelope
                h6
                  a(href='#') support@webwatch.tools
                p Send us your questions anytime!
          .col-lg-9
            form.row.contact_form#contactForm(action='contact_process.php' method='post' novalidate)
              .col-md-6
                .form-group
                  input.form-control#name(type='text' name='name' placeholder='Enter your name')
                .form-group
                  input.form-control#email(type='email' name='email' placeholder='Enter email address')
                .form-group
                  input.form-control#subject(type='text' name='subject' placeholder='Enter Subject')
              .col-md-6
                .form-group
                  textarea.form-control#message(name='message' rows='1' placeholder='Enter Message')
              .col-md-12.text-right
                button.btn.submit_btn(type='submit' value='submit') Send Message
    // ================END Contact Area =================
    include inc/footer.pug
    // ================Contact Success and Error message Area =================
    #success.modal.modal-message.fade(role='dialog')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              i.fa.fa-close
            h2 Thank you
            p Your message is successfully sent...
    //  Modals error 
    #error.modal.modal-message.fade(role='dialog')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              i.fa.fa-close
            h2 Sorry !
            p Something went wrong
    // ================End Contact Success and Error message Area =================
    //  Optional JavaScript 
    //  jQuery first, then Popper.js, then Bootstrap JS 
    script(src='js/jquery-3.2.1.min.js')
    script(src='js/popper.js')
    script(src='js/bootstrap.min.js')
    script(src='js/stellar.js')
    script(src='vendors/lightbox/simpleLightbox.min.js')
    script(src='vendors/nice-select/js/jquery.nice-select.min.js')
    script(src='vendors/isotope/imagesloaded.pkgd.min.js')
    script(src='vendors/isotope/isotope-min.js')
    script(src='vendors/owl-carousel/owl.carousel.min.js')
    script(src='js/jquery.ajaxchimp.min.js')
    script(src='js/mail-script.js')
    script(src='vendors/counter-up/jquery.waypoints.min.js')
    script(src='vendors/counter-up/jquery.counterup.min.js')
    //  contact js 
    script(src='js/jquery.form.js')
    script(src='js/jquery.validate.min.js')
    script(src='js/contact.js')
    // gmaps Js
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE')
    script(src='js/gmaps.min.js')
    script(src='js/theme.js')
