doctype html
html(lang='en')
  head
    include inc/header.pug
  body
    if success
      .div(style="position:absolute;width:100%;top:80px;")
        .alert.alert-success.alert-dismissible.fade.show(role='alert')
          | #{success}
          button.close(type='button' data-dismiss='alert' aria-label='Close')
            span(aria-hidden='true') &times;
    if failure
      .div(style="position:absolute;width:100%;top:80px;")
        .alert.alert-danger.alert-dismissible.fade.show(role='alert')
          | #{failure}
          button.close(type='button' data-dismiss='alert' aria-label='Close')
            span(aria-hidden='true') &times;
    // ================Home Banner Area =================
    section.home_banner_area
      .banner_inner
        .container
          .row
            .col-lg-5
              .banner_content
                h2
                  | Watching Websites
                  br
                  | for you
                p WebWatch uses blockchain-technologies to take snapshots of websites and store them safely. The snapshots can then be accessed at any time.
                a.banner_btn(href='/show-websites') Show Websites
                a.banner_btn2(href='/save-website') Save Website
            .col-lg-7
              .home_left_img
                img.img-fluid(src='img/banner/home-left-1.png' alt)
    // ================End Home Banner Area =================
    include inc/navbar.pug
    // ================Work Area =================
    section.work_area.p_120
      .container
        .main_title
          h2 How It works
          p
            | Saving the Content of a Website is a few clicks away.
            br
            | Register. Request a Snapshot. Done!
        .work_inner.row
          .col-lg-4
            .work_item
              i.lnr.lnr-screen
              a(href='/save-website')
                h4 Create a Snapshot
              p By creating a snapshot, you store a PDF and the HTML code of the actual state of the website on our servers.
          .col-lg-4
            .work_item
              i.lnr.lnr-code
              a(href='/blockchain')
                h4 Hack-Proof Technology
              p By using the Ethereum blockchain, the identity of a stored website can not be compromised. Back-ups also add an extra layer of security.
          .col-lg-4
            .work_item
              i.lnr.lnr-clock
              a(href='/')
                h4 24/7 Available
              p Our website is available 24/7, which means that your stored websites can be downloaded at any time from any PC.
    // ================End Work Area =================
    // ================Made Life Area =================
    section.made_life_area.p_120
      .container
        .made_life_inner
          #home(role='tabpanel' aria-labelledby='home-tab')
            .row.made_life_text
              .col-lg-6
                .left_side_text
                  h3
                    | Our activity
                    br
                    | visualized
                  h6 We are here to listen from you deliver exellence
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                  a.main_btn(href='/sign-up') Get Started Now
              .col-lg-6
                .chart_img
                  img.img-fluid(src='img/chart.jpg' alt)
    // ================End Made Life Area =================
    // ================Screen Area =================
    section.screen_area.text-center.p_120
      .container
        .main_title
          h2 LER
          p Leeeeeeeerrrrr
        img.img-fluid(src='img/banner/home-left-1.png' alt)
    // ================End Screen Area =================
    // ================Made Life Area =================
    section.made_life_area.p_120
      .container
        .made_life_inner
          .row.made_life_text
            .col-lg-6
              .left_side_text
                h3
                  | Basics On The
                  br
                  | Blockchain Technology
                h6 Cryptocurrencies like Bitcoin and Ethereum use such technologies
                p The Blockchain technology is used to store data safely. It was designed to be a Peer-To-Peer system (no central server).
                a.main_btn(href='/blockchain') Learn More
            .col-lg-6
              .chart_img
                img.img-fluid(src='img/browser.png' alt)
    // ================Impress Area =================
    section.impress_area.p_120
      .container
        .impress_inner
          h2 Got Impressed to our features?
          p If you want to store the contents of a website safely, you can count on us!.
          a.banner_btn2(href='/sign-up') Register
          
    include inc/footer.pug
    script(src='js/jquery-3.2.1.min.js')
    script(src='js/popper.js')
    script(src='js/bootstrap.min.js')
    script(src='js/stellar.js')
    script(src='vendors/lightbox/simpleLightbox.min.js')
    script(src='vendors/nice-select/js/jquery.nice-select.min.js')
    script(src='vendors/isotope/imagesloaded.pkgd.min.js')
    script(src='vendors/isotope/isotope-min.js')
    script(src='vendors/owl-carousel/owl.carousel.min.js')
    script(src='js/jquery.ajaxchimp.min.js')
    script(src='vendors/counter-up/jquery.waypoints.min.js')
    script(src='vendors/counter-up/jquery.counterup.min.js')
    script(src='js/mail-script.js')
    // gmaps Js
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE')
    script(src='js/gmaps.min.js')
    script(src='js/theme.js')
