doctype html
html(lang='en')
  head
    include inc/header.pug
  body
    include inc/navbar.pug
    // ================Home Banner Area =================
    section.banner_area
      .banner_inner.d-flex.align-items-center
        .overlay.bg-parallax(data-stellar-ratio='0.9' data-stellar-vertical-offset='0' data-background='')
        .container
          .banner_content.text-center
            h2 Reset Password
            .page_link
              a(href='/index') Home
              a(href='/save-website') Reset Password
    // ================End Home Banner Area =================
    include inc/notification.pug
    // ================Made Life Area =================
    section.made_life_area.made_white.p_120
      .container
        .made_life_inner
          .row.made_life_text
            .col-lg-6
              .chart_img
                img.img-fluid(src='img/banner/home-left-1.png' alt='')
            .col-lg-6
              form(action='/reset-pass' method='POST')
                h3 Reset your password
                p Email:
                input.single-input(type='email' name='email' placeholder='me@example.com' onfocus="this.placeholder = 'me@example.com'" onblur="this.placeholder = 'https://example.com'" required='')
                input.main_btn.success-border(type='submit' href='#' value='Submit')
    // ================End Made Life Area =================
    include inc/footer.pug
    
    script(src='js/jquery-3.2.1.min.js')
    script(src='js/popper.js')
    script(src='js/bootstrap.min.js')
    script(src='js/stellar.js')
    script(src='vendors/lightbox/simpleLightbox.min.js')
    script(src='vendors/nice-select/js/jquery.nice-select.min.js')
    script(src='vendors/isotope/imagesloaded.pkgd.min.js')
    script(src='vendors/isotope/isotope-min.js')
    script(src='vendors/owl-carousel/owl.carousel.min.js')
    script(src='js/jquery.ajaxchimp.min.js')
    script(src='js/mail-script.js')
    script(src='vendors/counter-up/jquery.waypoints.min.js')
    script(src='vendors/counter-up/jquery.counterup.min.js')
    script(src='js/theme.js')
