extends layout
block content
    h1.headline Web Watch
    h2 What is Blockchain?
    p A blockchain is a time-stamped series of immutable record of data that is managed by cluster of computers not owned by any single entity. Each of these blocks of data (i.e. block) are secured and bound to each other using cryptographic principles (i.e. chain).
    h2 Explanation
    p Blockchain data is saved as blocks this block is verified by multiple computers around the globe and added to a chain of blocks. Using this method, it is simply impossible to manipulate data if enough computers are in the chain.
    h2 Usage
    p Block chain is used to send information safely and without any costs to another party. Providers:
    p • Hyperledger (https://www.hyperledger.org/)
    p • Ethereum (https://www.ethereum.org/)
    h2 Our Project
    p Our project is about a blockchain application where you can save a website and store it